<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JSDoc: <?js= title ?></title>
	
	<script src="http://shjs.sourceforge.net/sh_main.min.js"> </script>
    <script src="http://shjs.sourceforge.net/lang/sh_javascript.min.js"> </script>
    
    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="bar">
    
    <h2>Montage API</h2>
    
    <div class="nav">
        <a href="http://tetsubo.org/docs/api-reference/api-feedback/">Send feedback!</a>
        <a href="http://tetsubo.org/docs/">Montage Docs</a>
        <a href="http://tetsubo.org/">tetsubo.org</a>
    </div>

</div>

<div id="main">

    
<nav>
    <?js= nav ?>
</nav>


    <h1 class="page-title"><?js= title ?></h1>

    <?js
        docs.forEach(function(doc, i) {
    ?>

    <section>

    <header>
        <h2><?js
            if (doc.ancestors && doc.ancestors.length) {
                print('<span class="ancestors">');
                print( doc.ancestors.join('') );
                print('</span>' + doc.name);
            }
            else {
                print(doc.name)
            }

            if (doc.variation) {
               print('<sup class="variation">'+doc.variation+'</sup>');
            }

         ?></h2>
        <?js
            if (doc.classdesc) {
               print('<p class="class-description">'+doc.classdesc+'</p>');
            }
        ?>
    </header>

    <article>
        <div class="container-overview">
        <?js
        if (doc.kind === 'module' && doc.module) {
            print(render('method.tmpl', doc.module));
        }

        if (doc.kind === 'class') {
            print(render('method.tmpl', doc));
        }
        else {
            if (doc.description) {
                print('<p class="description">' + doc.description + '</p>');
            }
            
            print(render('details.tmpl', doc));
            
            if (doc.examples && doc.examples.length) {
                print('<h3>Example' + (doc.examples.length > 1? 's':'') + '</h3>');
                print( render('examples.tmpl', doc.examples) );
            }
        }
        ?>
        <!-- Summary tables -->
        <?js
            var members = find({kind: 'member', memberof: doc.longname});
            if (title === 'Globals') {
                members = find({kind: 'member', memberof: {isUndefined: true}});
            }
            if (members && members.length && members.forEach) {
        ?>

            <h3 class="subsection-title">Properties summary</h3>


            <table class="zebra-striped">
                <?js
                members.forEach(function(m) {
                    print(render('propertylist_table.tmpl', m));
                });
            ?>
            </table>

        <?js } ?>

        <?js
            var methods = find({kind: 'function', memberof: doc.longname});
            if (title === 'Globals') {
                methods = find({kind: 'function', memberof: {isUndefined: true}});
            }
            if (methods && methods.length && methods.forEach && methods.sort) {
                methods.sort(function(m1, m2){
                    if ( m1.scope === 'static' && m2.scope !== 'static') {
                        return -1
                    } else if (m2.scope === 'static' && m1.scope !== 'static') {
                        return 1;
                    }

                    var nameA = m1.name.toLowerCase(), nameB = m2.name.toLowerCase();
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA == nameB) {
                        return 0;
                    }
                    return 1
                });
        ?>

            <h3 class="subsection-title">Method summary</h3>

            <table class="zebra-striped">
                <?js
                methods.forEach(function(m) {
                    print(render('propertylist_table.tmpl', m));
                });
            ?>
            </table>

        <?js } ?>

        <?js
            var styles = find({kind: 'style', memberof: doc.longname});
            if (title === 'Globals') {
                styles = find({kind: 'style', memberof: {isUndefined: true}});
            }
            if (styles && styles.length && styles.forEach) {
        ?>
            <h3 class="subsection-title">Styles summary</h3>

            <table class="zebra-striped">
                <thead>
                    <tr><td>Name</td><td>Description</td></tr>
                </thead>
                <tbody>

                <?js
                styles.forEach(function(s) {
                    print(render('propertylist_table.tmpl', s));
                });
            ?>
            </tbody>
            </table>

            <?js } ?>
        </div>
        
        <?js
            if (doc.augments && doc.augments.length) { 
        ?>
            <h3 class="subsection-title">Extends</h3>
            
            <ul><?js
                doc.augments.forEach(function(a) {
            ?>
                <li><?js= linkto(a, a) ?></li>
            <?js
                });
            ?></ul>
        <?js 
            }
        ?>
        
        <?js
            if (doc.mixes && doc.mixes.length) { 
        ?>
            <h3 class="subsection-title">Mixes In</h3>
            
            <ul><?js
                doc.mixes.forEach(function(a) {
            ?>
                <li><?js= linkto(a, a) ?></li>
            <?js
                });
            ?></ul>
        <?js 
            }
        ?>
        
        <?js
            if (doc.requires && doc.requires.length) { 
        ?>
            <h3 class="subsection-title">Requires</h3>
            
            <ul><?js
                doc.requires.forEach(function(r) {
            ?>
                <li><?js= linkto(r, r) ?></li>
            <?js
                });
            ?></ul>
        <?js 
            }  
        ?>
        
        <?js
            var classes = find({kind: 'class', memberof: doc.longname});
            if (doc.kind !== 'globalobj' && classes && classes.length) {
                classes.sort(function(m1, m2){
                    var nameA = m1.name.toLowerCase(), nameB = m2.name.toLowerCase();
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA == nameB) {
                        return 0;
                    }
                    return 1
                });
        ?>

            <h3 class="subsection-title">Prototypes</h3>

            <dl><?js
                classes.forEach(function(c) {
            ?>
                <dt><?js= linkto(c.longname, c.name) ?></dt>
                <dd><?js if (c.summary) print(c.summary); ?></dd>
            <?js
                });
            ?></dl>
            
        <?js } ?>
        
        <?js
            var namespaces = find({kind: 'namespace', memberof: doc.longname}); 
            if (doc.kind !== 'globalobj' && namespaces && namespaces.length) { 
        ?>
            
            <h3 class="subsection-title">Namespaces</h3>
            
            <dl><?js
                namespaces.forEach(function(n) {
            ?>
                <dt><a href="namespaces.html#<?js= n.longname ?>"><?js= linkto(n.longname, n.name) ?></a></dt>
                <dd><?js if (n.summary) print(n.summary); ?></dd>
            <?js
                });
            ?></dl>
            
        <?js } ?>
        
        <?js
            var members = find({kind: 'member', memberof: doc.longname});
            if (title === 'Globals') {
                members = find({kind: 'member', memberof: {isUndefined: true}});
            }
            if (members && members.length && members.forEach) { 
        ?>
            
            <h3 class="subsection-title">Members</h3>
            
            <dl><?js
                members.forEach(function(p) {
                    print(render('members.tmpl', p));
                });
            ?></dl>
            
        <?js } ?>
        
        <?js
            var methods = find({kind: 'function', memberof: doc.longname});
            if (title === 'Globals') {
                methods = find({kind: 'function', memberof: {isUndefined: true}});
            }
            if (methods && methods.length && methods.forEach) {
                methods.sort(function(m1, m2){
                    if ( m1.scope === 'static' && m2.scope !== 'static') {
                        return -1
                    } else if (m2.scope === 'static' && m1.scope !== 'static') {
                        return 1;
                    }

                    var nameA = m1.name.toLowerCase(), nameB = m2.name.toLowerCase();
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA == nameB) {
                        return 0;
                    }
                    return 1
                });
        ?>
            
            <h3 class="subsection-title">Methods</h3>
            
            <dl><?js
                methods.forEach(function(m) {
                    if (doc.kind === 'class') {
                        m.className = doc.name;
                    }
                    print(render('method.tmpl', m));
                });
            ?></dl>
        <?js } ?>
        <?js
            var events = find({kind: 'event', memberof: doc.longname}); 
            if (events && events.length && events.forEach) { 
        ?>
            
            <h3 class="subsection-title">Events</h3>
            
            <dl><?js
                events.forEach(function(e) {
                    print(render('method.tmpl', e));
                });
            ?></dl>
        <?js } ?>
    </article>
    
    </section>  
    <?js }); ?>
</div>


<br clear="both">

<footer>
</footer>

<script> sh_highlightDocument(); </script>
</body>
</html>