<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Montage API Reference-<?js= title ?></title>

	<script src="styles/sh_main.js"> </script>
    <script src="styles/sh_javascript.js"> </script>

     <script type="text/javascript" src="styles/list.js"></script>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-445875-15']);
      _gaq.push(['_setDomainName', 'tetsubo.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link rel="shortcut icon" type="image/x-icon"href="styles/montage-logo-favicon.png">
</head>

<body>

<div id="bar">

    <a href="http://tetsubo.org/mot/montage-api/"><h2>Montage API</h2></a>

    <div class="nav">
        <a href="http://tetsubo.org/docs/api-reference/api-feedback/">Send feedback!</a>
        <a href="http://tetsubo.org/docs/">Montage Docs</a>
        <a href="http://tetsubo.org/">tetsubo.org</a>
    </div>

</div>



<div id="main">

    <nav id="proto-list">
        Filter: <input id="search" class="search" />
        <!-- <span class="sort" data-sort="name">Sort by name</span> -->
        <?js= nav ?>
    </nav>

    <script>
    // The name of the class applied to each <a/> element in the list
    var options = {
        valueNames: ['prototype']
    };

    var hackerList = new List('proto-list', options);
    </script>


<section>
<article>
<h1>Montage API Reference</h1>


  <h2>Component APIs</h2>
  <ul id="" class="">
    <li><a href="" title=""></a>aasdfasdf</li>
    <li><a href="" title=""></a>sdfsdf</li>
    <li><a href="" title=""></a>sdfsdfsdf</li>
    <li><a href="" title=""></a>asdfasdf</li>
    <li><a href="" title=""></a></li>
    <li><a href="" title=""></a></li>
    <li><a href="" title=""></a></li>
  </ul><!-- / -->
  <h2>Core APIs</h2>
  <h2>Data persistence</h2>

</article>


</section>

<br clear="both">

<footer>
</footer>

<script> sh_highlightDocument(); </script>
</body>
</html>