<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Montage API Reference-<?js= title ?></title>

	<script src="http://shjs.sourceforge.net/sh_main.min.js"> </script>
    <script src="http://shjs.sourceforge.net/lang/sh_javascript.min.js"> </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-445875-15']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link rel="shortcut icon" type="image/x-icon"href="styles/montage-logo-favicon.png">
</head>

<body>

<div id="bar">

    <a href="http://tetsubo.org/mot/montage-api/"><h2>Montage API</h2></a>

    <div class="nav">
        <a href="http://tetsubo.org/docs/api-reference/api-feedback/">Send feedback!</a>
        <a href="http://tetsubo.org/docs/">Montage Docs</a>
        <a href="http://tetsubo.org/">tetsubo.org</a>
    </div>

</div>

<div id="main">

<nav>
    <?js= nav ?>
</nav>


    <h1 class="page-title">Montage API Index</h1>

    <?js
        docs.forEach(function(doc, i) {
            console.log(doc.className);
    }); ?>




<br clear="both">

<footer>
</footer>

<script> sh_highlightDocument(); </script>
</body>
</html>